body{
    background-color:rgb(223, 179, 142);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    text-align: center; 
    margin-top: 300px;
}